<div class="row">
    <div class="col-sm-6 ">
        <div class="panel panel-default">
            <div class="panel-heading">Doctor</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form ng-submit="submit()" name="userForm" novalidate>
                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.name.$invalid && userForm.name.$dirty }">
                            <label for="name">Name:</label> <input type="text" ng-readonly = true  required
                                                                   class="form-control" ng-model="appUser.name"
                                                                   id="name"
                                                                   name="name">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty }">
                            <label for="username">Username:</label> <input type="text"
                                                                           ng-readonly = true
                                                                           required class="form-control"
                                                                           ng-model="appUser.username"
                                                                           id="username" name="username">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.surname.$invalid && userForm.surname.$dirty }">
                            <label for="surname">Surname:</label> <input type="text"
                                                                         required class="form-control"
                                                                         ng-model="doctor.surname"
                                                                         id="surname" name="surname">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.university.$invalid && userForm.university.$dirty }">
                            <label for="university">University:</label> <input type="text"
                                                                               required class="form-control"
                                                                               ng-model="doctor.university"
                                                                               id="university" name="university">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.experience.$invalid && userForm.experience.$dirty }">
                            <label for="experience">Experience:</label> <input type="text"
                                                                               required class="form-control"
                                                                               ng-model="doctor.experience"
                                                                               id="experience" name="experience">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty }">
                            <label for="speciality">Specialities:</label> <select required
                                                                                  multiple="multiple"
                                                                                  class="form-control"
                                                                                  ng-model="doctor.specialityList"
                                                                                  id="speciality" name="speciality">
                            <option value="ALLERGY">ALLERGY</option>
                            <option value="IMMUNOLOGY">IMMUNOLOGY</option>
                            <option value="ANESTHESIOLOGY">ANESTHESIOLOGY</option>
                            <option value="DERMATOLOGY">DERMATOLOGY</option>
                            <option value="DIAGNOSTIC_RADIOLOGY">DIAGNOSTIC_RADIOLOGY</option>
                            <option value="EMERGENCY_MEDICINE">EMERGENCY_MEDICINE</option>
                            <option value="MEDICAL_GENETICS">MEDICAL_GENETICS</option>
                            <option value="RADIATION_ONCOLOGY">RADIATION_ONCOLOGY</option>
                        </select>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty }">
                            <label for="role">Role:</label> <select required
                                                                    multiple="multiple" class="form-control"
                                                                    ng-model="appUser.roles" id="role" name="role">
                            <option value="ROLE_DOCTOR">Doctor</option>
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="pwd">Password:</label> <input type="password"
                                                                      ng-readonly = true
                                                                      class="form-control" id="pwd"
                                                                      ng-model="appUser.password" name="password">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': userForm.image.$invalid && userForm.image.$dirty }">
                            <label for="image">Image src:</label> <input type="text"
                                                                         required class="form-control"
                                                                         ng-model="doctor.imgSrc"
                                                                         id="image" name="image">
                        </div>

                        <button type="submit" class="btn btn-default"
                                ng-disabled="userForm.$invalid">{{buttonText}}
                        </button>

                        <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Doctors
            </div>
            <div class="panel-body">

                <div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{$index+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td><span ng-repeat="role in user.roles">{{role}}<span
                                ng-if="$index < (user.roles.length-1)">,</span>
							</span></td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="initEdit(user)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="deleteUser(user)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
