<body>

<style>
    #dialog li {
        list-style-type: none;
    }
    img {
        max-width: 100%;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 20px;
        color: #464646;
        margin: 0 0 8px 0;
    }

    .chat_ib h5 span {
        font-size: 13px;
        float: right;
    }

    .chat_ib p {
        font-size: 16px;
        color: #989898;
        margin: auto
    }

    .content {
        font-size: 13px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }


    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }


    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .hoverTable tr:hover {
        background-color: #d8e8e8;
    }

    .buttonn{



    }
</style>
<div>
    <p ng-show = "dialogs.length ==0">You have no private correspondence yet...</p>
    <ul id = "dialog" ng-repeat="dialog in dialogs | startPagination: curPage * pageSize | limitTo: pageSize"
            ng-click="setClickedRow(dialog)">
        <li>
            <div class="chat_list">
                <div class="chat_people">
                    <div class="chat_img"><img src="http://houseofprog.com/wp-content/uploads/2013/03/progdoc.jpg" alt="sunil"></div>
                    <div class="chat_ib">
                        <h5> <p style="font-weight: bold">{{ dialog.lastMessage.sender}}:</p>  <span class="chat_date">{{ dialog.lastMessage.date }}
                        </span>
                    </h5>
                        <p class="content">{{ dialog.lastMessage.content}}...</p>
                        <br>
                        <br>
                        <h5> <p style="font-weight: bold">{{ dialog.lastMessage.receiver}}</p></h5>
                    </div>

                </div>
            </div>
        </li>
    </ul>

    <ul class="pager" ng-show="dialogs.length">
        <li>
            <button type="button" class="btn btn-link" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">&lt;
                Previous
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-link" ng-disabled="curPage >= datalists.length/pageSize - 1"
                    ng-click="curPage = curPage+1">Next &gt;
            </button>
        </li>
    </ul>
</div>


