<div class=" col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">Recover</div>
        <div class="panel-body">
            <div class="col-md-12">
                <form ng-submit="recoverUser()" name = "recover"  novalidate>
                    <div class="form-group" ng-class = "{ 'has-error': recover.passphrase.$invalid && recover.passphrase.$dirty }">
                        <label for="passphrase">Enter passphrase:</label> <input type="text"
                                                                       class="form-control"  required ng-model="passphrase" id="passphrase">
                    </div>
                    <div class="form-group" ng-class = "{ 'has-error': recover.password.$invalid && recover.password.$dirty }">
                        <label for="password">Enter new password:</label> <input type="password"
                                                                  class="form-control" id="password" required ng-model="password">
                    </div>
                    <div class="form-group "
                         ng-class="{ 'has-error': recover.confirmPassword.$invalid && recover.confirmPassword.$dirty }">
                        <label for="confirmPassword">Confirm new password:</label> <input type="password"
                                                                           name="confirmPassword" required class="form-control" id="confirmPassword"
                                                                           ng-model="confirmPassword">
                    </div>
                    <div class="alert alert-warning margin-top-5"
                         ng-show="confirmPassword != password ">Password Not
                        Matching</div>


                    <button type="submit" class="btn btn-default"
                            ng-disabled="recover.$invalid || (confirmPassword != password)">Recover</button>
                    <div>
                        <a  ui-sref="register">Register new account</a>
                    </div>


                    <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                </form>
            </div>
        </div>
    </div>
</div>