<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>

    .blog-box {
        padding: 0 0px;
        transition: .5s;
        border: 1px solid #e2e2e2;
        margin-bottom: 30px;
    }

    .blog-box-content h4 a {
        font-size: 20px;
        padding: 0px 0 0px;
        text-transform: uppercase;
        color: #2b2b2b;
        text-decoration: none;

    }

    .blog-box-content h4:hover {
        color: #000;
        text-decoration: none;

    }

    .blog-box-content {
        padding: 0 20px 20px;
    }

    .blog-box-text h4 a {
        color: #333;
    }


    #footer {
        height: 100px;
    }

    #commentArea li {
        list-style-type: none;
    }

    .fa-6x {
        font-size: 10em;
    }

    .mainbody {
        background: #f0f0f0;
    }

    body {
        background-color: #e8e8e8;
    }

    textarea {
        width: 100%;
        height: 100px;
        resize: none;
    }

    .rating {
        margin-left: -90px;
        color: #a9a9a9;

        padding: 0;

    }

    ul.rating {

        display: inline-block;
    }

    .rating li {

        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: left;
        font-weight: bold;
        cursor: pointer;
    }

    .rating .filled {
        color: #f9ff17;
    }

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div ng-show="user.imgSrc" align="center">
                            <img class="thumbnail img-responsive" src={{user.imgSrc}} width="300px"
                                 height="300px">
                        </div>

                        <div class="media-body">
                            <h4 ng-show="user.doctor">
                                <hr>
                                <strong>
                                    <div ng-show="currentUser" style="margin-left: 90px"> <span
                                            ng-repeat="rating in ratings">
        <div star-rating rating-value="rating.current" max="rating.max" ng-click="selectRating($index)"></div>
        </span>
                                    </div>
                                </strong></h4>
                            <hr>
                            <h4><strong>{{user.name}} {{user.doctor.surname}}</strong></h4>
                            <h4 ng-show="user.doctor">
                                <hr>
                                <strong>{{user.doctor.university}}</strong>
                                <hr>
                            </h4>

                            <h4 ng-show="user.doctor"><strong>{{user.doctor.experience}}</strong></h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 ng-show="!user.doctor" class="panel-title pull-left" style="font-size:30px;">{{user.name}} <small>{{user.username}}</small> <i
                                class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip"
                                data-placement="bottom"></i></h1>
                         <h1 ng-show="user.doctor" class="panel-title pull-left" style="font-size:30px;">Dr. {{user.name}} {{user.doctor.surname}}  <i
                                 class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip"
                                 data-placement="bottom"></i></h1>
                        <hr>
                          <span ng-repeat="speciality in user.doctor.specialityList">{{speciality}}<span
                                  ng-if="$index < (user.doctor.specialityList.length-1)">,</span>
                          </span>
                    <br><br>
                    <span class="pull-left ">
                        <a class="btn btn-link " ng-click="sendMessage(user.id)" style="text-decoration:none;"><i
                                class="fa fa-envelope-o fa-2x  "
                                aria-hidden="true"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Message"
                        ></i></a>

                    </span>
                    <br><br>
                        <br>
                        <hr>
                    <span class="pull-left">
                        <a class="btn btn-link" style="color: green;"><i class="fa fa-2x fa-medkit"
                                                                         aria-hidden="true"
                                                                         data-toggle="tooltip"
                                                                         data-placement="bottom"
                                                                         title="Message"></i></a>
                        <a class="btn btn-link" style="color: red ;"><i class="fa fa-2x fa-heartbeat "
                                                                        aria-hidden="true"
                                                                        data-toggle="tooltip"
                                                                        data-placement="bottom"></i></a>
                    </span>
                    <span class="pull-right">
                        <a class="btn btn-link" style="color: green;"><i class="fa fa-2x fa-medkit"
                                                                         aria-hidden="true"
                                                                         data-toggle="tooltip"
                                                                         data-placement="bottom"
                                                                         title="Message"></i></a>
                        <a class="btn btn-link" style="color: red ;"><i class="fa fa-2x fa-heartbeat "
                                                                        aria-hidden="true"
                                                                        data-toggle="tooltip"
                                                                        data-placement="bottom"></i></a>
                    </span>
                    </span>
                </div>
            </div>
            <hr>
            <form ng-show="currentUser" id=commentForm>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="media">
                            <div class="media-body">
                                <textarea id="comment" rows="1" placeholder="Comment"></textarea>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" style="width: 130px" class="btn btn-info">Send</button>
                    </div>
                </div>
            </form>
            <ul ng-show="comments.length" ng-repeat="comment in comments" id="commentArea" class="panel panel-default">
                <div>
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#"><img class="media-object img-circle" ng-src={{comment.imgSrc}} width="50px"
                                             height="50px" style="margin-right:8px; margin-top:-5px;"></a>
                        </div>

                        <h4><a href="#" style="text-decoration:none;"><strong>
                            {{comment.senderName}}</strong></a>
                            <small>
                                <small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o"
                                                                                                   aria-hidden="true"></i>
                                    {{comment.localDateTime}} </i></a></small>
                            </small>
                        </h4>
                        <span>
                                              <div class="navbar-right">
                         <div><button type="button" class="btn btn-link"
                                      ng-click="deleteComment(comment.id)" id="delete" style="text-decoration:none;"><i
                                 class="fa fa-lg fa-times"
                                 title="delete"></i></button></div>
                                               </div>
                                           </span>
                        <hr>
                        <p>
                            {{comment.content}} </p>
                        <hr>
                    </div>
                </div>
            </ul>


            <div ng-show = "!currentUser" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-box">
                    <div class="blog-box-content">
                        <h4><i class="fa fa-stethoscope fa-lg" aria-hidden="true"></i><a href="#"> How can you get a
                            treatment?</a></h4>
                        <p> Our free online doctor chat lets you ask a doctor online and get answers in minutes from
                            anywhere 24/7.
                            If you have health questions, our online doctor consultation is 100% free and professional.
                            By providing access to quality healthcare services, we empower patients to get important
                            health questions answered from one easy online platform. Ask a doctor today and get the
                            medical advice you deserve.
                            .</p>

                    </div>
                    <div class="blog-box-image">
                        <img src="https://1712507217.rsc.cdn77.org/wp-content/uploads/2016/11/wearable-technology.jpg"
                             class="img-responsive" alt="">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div ng-show="!currentUser">
        <footer id="footer" class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <hr style="height: 10px; color: #4c4c4c ">
                    <span style="text-align: center">
                    <p>
                    <a class="btn btn-link" data-toggle="modal" data-target="#myModal">Complain</a>   <a class="btn btn-link " ng-click="deleteAccount(user.id)"> Delete account </a>
                    </p>
                    </span>
                </div>
            </div>
        </footer>
                        <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Contact Us</h2> Got a question ? Feedback? Awesome!
                    <p>
                        Send your message in the form below and we will get back to you as early as possible.
                    </p>
                    <form role="form" id="reused_form"   >
                        <div class="form-group">
                            <label for="name">
                               Receiver:</label>
                            <input type="text" value="@admin" class="form-control"
                                   id="name" name="name"  required maxlength="50">

                        </div>
                        <div class="form-group">
                            <label for="name">
                                Message:</label>
                            <textarea class="form-control" type="textarea" name="message"
                                      id="complaint" placeholder="Your Message Here"
                                      maxlength="6000" rows="7"></textarea>
                        </div>
                        <button type="button" ng-click="sendComplain()" class="btn btn-lg btn-info pull-right" id="btnContactUs">Post It! →</button>

                    </form>
                    <br>
                    <br>
                    <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>

                </div>
            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    </div>
</div>
                    </p>
                </span>
                </div>
            </div>
        </footer>
    </div>
</div>


