<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
	.badge-important {
		margin-top: 3px;
		margin-left: 25px;
		position: absolute;
	}
	.brand {
		border-radius: 50%;
	}

	.brand_network {
		color: #9D9D9D;
		font-size: small;
	}
.user {
	font-weight: bold;
}

.logout {
	cursor: pointer;
	margin-left: 5px;
}
</style>

<nav class="navbar navbar-default  " >
	<div class="container"  >
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand"ui-sref="home" style="margin-right:-8px; margin-top:-9px;">
				<img alt="Brand" class="brand" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp-GQ7xoJzkIjF98oz7hD4EUneCiNWN-3VujXazgCHWT-lVbDk" width="35px" height="35px">
			</a>
			<a class="navbar-brand" ui-sref="home">Online hospital</a>

		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav" id="nav">
				<li ng-show="user.username"><a ui-sref="users">Users</a></li>
				<li ng-show="user.username"><a ui-sref="dialogs">Dialogs</a></li>
				<li ><a ui-sref="chooseDoctor">Choose a doctor</a></li>
				<li ng-show="user.username"><a ui-sref="create-doctor">CreateDoctor</a></li>


			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li ng-show="user.username"><a> <span class="user">Hi,
							{{user.name}}</span> <span ng-click="logout()" href=""
						class="logout">Logout</span>
				</a></li>
				<li ng-show="!user.username"><a ui-sref="register">Register</a></li>
			</ul>
		</div>

	</div>
</nav>
