<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXCEPTION</title>
</head>
<body>
<h1>CUSTOM ERROR</h1>
<h2 th:text="${MESSAGE}"></h2>

</body>
</html>