<div class="row">
    <div class="span12">
        <form class="form-horizontal">
            <fieldset>
                <div id="legend">
                    <legend class="">Login</legend>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" ng-model="login" placeholder="" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" ng-model="password"  name="password" placeholder="" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" ng-click = "authenticate()" class="btn btn-success">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>