<style>
    body{
        margin:10px;
        font-size:14px;
        font-family:Arial;
    }
    table{
        border:1px solid #333;
        border-collapse:collapse;
        width:100%;
    }
    table tr td{
        border:1px solid #333;
        padding:10px;
    }
    table tr td span{
        cursor:pointer;
    }
</style>
Find user by username:
<form name="searchuser" ng-submit="search(username)">
    <input type="search" required="" placeholder="Username to find" ng-model="username" />
    <input type="submit" value="search" />
</form>

<table>
    <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Username</td>
        <td>Password</td>
        <td>Admin</td>
        <td><span ng-click="add()">Add New</span></td>
    </tr>
    <tr ng-repeat="user in users">
        <td>
            <input type="text" ng-model="user.firstName" ng-show="user.editable">
            <span ng-hide="user.editable">{{user.firstName }}</span>
        </td>
        <td>
            <input type="text" ng-model="user.lastName" ng-show="user.editable">
            <span ng-hide="user.editable">{{ user.lastName }}</span>
        </td>
        <td>
            <input type="text" ng-model="user.username" ng-show="user.editable">
            <span ng-hide="user.editable">{{ user.username }}</span>
        </td>
        <td>
            <input type="password" ng-model="user.password" ng-show="user.editable">
            <span ng-hide="user.editable">{{ user.password }}</span>
        </td>
        <td>
           <input type="checkbox"  ng-model="user.admin" ng-true-value="true" >
            <span ng-hide="user.editable">{{user.admin}} </span>
        </td>
        <td>
            <span ng-click="edit($index)" ng-hide="user.editable">Edit</span>
            <span ng-click="save($index)" ng-show="user.editable">Save</span>
            <span ng-click="delete($index)"> | Delete</span>
        </td>
    </tr>
</table>

